<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:replace="back/include :: header">
</head>
<body>
<form class="layui-form" id="searchForm" style="padding-top: 15px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户昵称：</label>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="请输入用户昵称" name="realName" id="realName" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">试卷标题：</label>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="请输入用户昵称" name="projectName" id="projectName" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号码：</label>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="请输入手机号码" name="mobile" id="mobile" autocomplete="off">
            </div>
        </div>
        创建时间：
        <div class="layui-inline">
            <input type="text" class="layui-input" name="startTime" id="startTime" placeholder="开始时间"
                   onfocus="noInput(this)">
        </div>
        -
        <div class="layui-inline">
            <input type="text" class="layui-input" name="endTime" id="endTime" placeholder="截止时间"
                   onfocus="noInput(this)">
        </div>

        <div class="layui-inline" style="float:right; right:20px;">
            <button shiro:hasPermission="common:uer:list" type="button" class="layui-btn" data-type="reload"
                    id="search">搜索
            </button>
            <button shiro:hasPermission="common:uer:list" type="button" class="layui-btn layui-btn-primary"
                    data-type="reload" id="clear">重置
            </button>
        </div>
    </div>

    </div>
</form>
<table class="layui-hide" id="demoTable" lay-filter="tableFilter"></table>

<script type="text/javascript">
    let tableIns;
    let layer;
    let table;
    let laydate;
    $(function () {
        //加载下拉框
        layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function () {
            layer = layui.layer; //弹层
            table = layui.table;//表格
            laydate = layui.laydate; //元素操作
            //执行一个 table 实例
            tableIns = table.render({
                elem: '#demoTable'
                , url: '/back/getQuestionList'
                , method: 'post'
                , contentType: 'application/json'
                , id: 'demoTable'
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
                , where: {}
                , response: {
                    statusCode: 1 //规定成功的状态码，默认：0
                }
                , page: true //开启分页
                , cols: [
                    [
                        /*{type:'checkbox'}*/
                        {field: 'realName', title: '用户昵称', align: 'center'}
                        , {
                        field: 'gender', title: '用户性别', align: 'center', templet: function (d) {
                            return d.gender == '0' ? '女' : d.gender == '1' ? '男' : '未知';
                        }
                    }
                        , {field: 'college', title: '学院', align: 'center'}
                        , {field: 'mobile', title: '手机号码', align: 'center'}
                        , {field: 'projectName', title: '测试标题', align: 'left'}
                        , {field: 'score', title: '得分', align: 'center'}

                        , {
                        width: '10%', field: 'createTime', title: '创建时间', align: 'center', templet: function (d) {
                            return layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss");
                        }

                    }, {width: '10%', title: '操作', align: 'center', toolbar: '#bar'}
                    ]
                ]
            });
            //常规用法
            laydate.render({
                elem: '#startTime'
                , trigger: 'click'
            });
            laydate.render({
                elem: '#endTime'
                , trigger: 'click'
            });
            $("#search").bind("click", function () {
                searchForm();
            });

            $("#clear").bind("click", function () {
                searchForm();
            });
            table.on('tool(tableFilter)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                let data = obj.data; //获得当前行数据
                let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if (layEvent === 'info') { //详情
                    sessionStorage.setItem('url',"/back/subjectInfoPage?userProjectId="+data['id']);
                    location.href="/back/subjectInfoPage?userProjectId="+data['id'];
                }
            });

        });

    });

    //让时间插件无法选中 达到禁止手输的目的
    function noInput(dom) {
        $(dom).blur();
    }

    function trimData(data) {
        let result = {};
        $.each(data, function (index, value) {
            if (value != "")
                result[index] = value;
        });
        return result;
    }

    function searchForm() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        if (startTime != "" && endTime != "") {
            if (startTime > endTime) {
                layer.msg('时间起始不可大于时间截止！');
                $("#endTime").val("");
                return;
            }
        }
        let data = {
            realName: $("#realName").val() == "" ? null : $("#realName").val(),
            mobile: $("#mobile").val() == "" ? null : $("#mobile").val(),
            projectName: $("#projectName").val() == "" ? null : $("#projectName").val(),
            startTime: startTime,
            endTime: endTime

        };
        table.reload('demoTable', {
            where: trimData(data)
            , page: {
                curr: 1 //重新从第 1 页开始
            }, done: function (res, curr, count) {
                this.where = {};
            }
        });
    }
</script>
<script type="text/html" id="bar">
    <a shiro:hasPermission="common:uer:list" class="layui-btn layui-btn-xs" lay-event="info">查看详情</a>
</script>
</body>
